---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Inicio 25/09/2024 - En Curso ",
    title: "Bootcamp en análisis de datos",
    company: "Make It Real Camp",
    description:"Cursos y practicas intensivas de analisis de datos, el programa comprende los siguientes temas:  Introducción a la inteligencia de negocios,Introducción a Python, Introducción a la manipulación de fuentes de datos,Extracción y manipulación de datos, Análisis de datos con Python,Inteligencia de negocios y visualización de datos,Introducción al Machine Learning, Proyecto Final",
    link: "https://makeitreal.camp/mitic-analisisdatos",
  },
  {
    date: "Junio 2024",
    title: "Acelerador de Carrera con Power Bi",
    company: "ZAKIDATA",
    description:
      "Introducción de power bi, importación y analisis, creación de dashboard, duración 8 hs",
    link: "https://drive.google.com/file/d/15Nv33y_UN0KRzNV-H08cidgEElpeG7dw/view?usp=sharing",
  },
  {
    date: "Inicio 26/09/2023",
    title: "Diplomado en Gestión Financiera",
    company: "EDAN - Escuela de Administración de Negocios",
    description:
      "El programa esta enfocado en la toma de decisiones financieras estratégicas para empresas, abarcando desde la gestión de la cadena de suministro hasta la evaluación de proyectos de inversión.",
  },
  {
    date: "2016- 2021",
    title: "Dr Raul Pena",
    company: "Universidad Nacional de Asunción",
    description:"Egresada de la carrera de contaduria pública con grado universitario",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
